In [73]:
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [104]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
import numpy as np

In [111]:
engine.execute("USE sakila")
query = "SELECT c.first_name, c.last_name, r.customer_id, count(r.rental_id) as nr_of_rentals \
FROM rentals_june as r \
join customer as c \
on r.customer_id = c.customer_id \
group by c.last_name \
order by customer_id asc"

In [112]:
query2 = "SELECT r.customer_id, count(r.rental_id) as nr_of_rentals \
FROM rentals_may as r \
join customer as c \
on r.customer_id = c.customer_id \
group by c.last_name \
order by customer_id asc"

In [113]:
def monthly_records(query,query2):
    querydf = pd.read_sql_query(query, engine)
    querydf = querydf.rename(columns={"nr_of_rentals": "june_nr_of_rentals"})
    querydf2 = pd.read_sql_query(query2, engine)
    querydf2= querydf2.rename(columns={"nr_of_rentals": "may_nr_of_rentals"})
    rentals_records['june_nr_of_rentals'] = rentals_records['june_nr_of_rentals'].fillna(0)
    rentals_records['may_nr_of_rentals'] = rentals_records['may_nr_of_rentals'].fillna(0)
    may_list = rentals_records['may_nr_of_rentals'].tolist()
    june_list =  rentals_records['june_nr_of_rentals'].tolist()
    month=[]
    for i in range(len(june_list)):
        if may_list[i] > june_list[i]:
            month.append('may')
        elif june_list[i]> may_list[i]:
            month.append('june')
        else:
            month.append('same')
    rentals_records['month']=month
    return rentals_records

In [114]:
rentals_records=monthly_records(query,query2)

In [119]:
rentals_records.shape
rentals_records.head()

,first_name,last_name,customer_id,june_nr_of_rentals,may_nr_of_rentals,month
0,MARY,SMITH,1,7.0,2.0,june
1,PATRICIA,JOHNSON,2,1.0,1.0,same
2,LINDA,WILLIAMS,3,4.0,2.0,june
3,BARBARA,JONES,4,6.0,0.0,june
4,ELIZABETH,BROWN,5,5.0,3.0,june